/* General modal styling */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px var(--blurColor);
    width: 400px;
    max-width: 100%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-header h2 {
    margin: 0;
    font-size: 20px;
}

#cross {
    cursor: pointer;
    font-size: 24px;
    color:var(--darkBlue);
    transition: color 0.3s;
}

#cross:hover {
    color:var(--red);
}

/* Modal Body */
.modal-body {
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--blurColor);
}
.modal-body p {
    margin: 5px 0;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
}

.modal-actions button {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 48%;
}

.modal-actions .red {
    background-color:var(--red);
    color: var(--white);
}

.modal-actions .red:hover {
    background-color: var(--darkRed);
}

.modal-actions .green {
    background-color: var(--green);
    color: var(--white);
}

.modal-actions .green:hover {
    background-color: var(--darkGreen);
}
