.btn{
    background-color: var(--darkBlue);
    color:var(--white);
    border:2px solid var(--darkBlue);
    padding:0.7rem 1rem;
    border-radius: 1.2rem;
    cursor:pointer;
    font-weight: 600;
    text-align: center;
    min-width: 100px;
}

.btn:hover{
    border:2px solid var(--midBlue);
    background-color: var(--midBlue);
    color:var(--white);
    transition: all 0.3s;
}

.outlined-btn{
    background-color: var(--white);
    color:var(--darkBlue);
    border:2px solid var(--darkBlue);
    padding:0.7rem 1rem;
    border-radius: 1.2rem;
    cursor:pointer;
    font-weight: 600;
    text-align: center;
    min-width: 100px;
}

.outlined-btn:hover{
    background-color: var(--midBlue);
    color: var(--white);
    transition: all 0.3s;
}