.nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 2rem;
    background-color: var(--darkBlue);
    position:sticky;
    top:0;
    left:0;
    z-index: 999;
    margin-bottom: 1.5rem;
 }
 .logo{
     font-size: 1.6rem;
 }
 .links{
     display:flex;
     gap:1rem;
     justify-content: flex-end;
     align-items: center;
 }

 .link {
    font-size: 1rem;
    color: var(--lightBlue);
    font-weight: 600;
    text-decoration: none;
    padding: 8px 14px;
  }

 .link :hover{
     color: var(--white);
     transition:ease-in-out 0.3s;
 }

/* Mobile responsiveness */
@media only screen and (max-width: 400px) {
  .nav{
    padding: 0.6rem 1rem;
 }
 .logo{
     font-size: 1rem;
 }
 .links{
     gap:0.5rem;
 }

 .link {
    font-size: 0.8rem;
    padding: 3px ;
  }
}
