@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&display=swap');

:root{
  --green:#61c96f;
  --darkGreen:#247b30;
  --red:#f94141;
  --darkRed:#bb1919;
  --lightBlue:#74beef;
  --darkBlue: #1A5276;
  --midBlue:#4682B4;
  --lightgrey: #c7ccd1;
  --white:#ffffff;
  --black:#000000;
  --hover:  #20648ed3;
  --blurColor:#333;
}
 
html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  color:var(--white);
  font-family: 'Inter', sans-serif;
  min-height: 90vh;
}


::selection{
  background-color: var(--blue);
  color:var(--white);
}

/* width */
::-webkit-scrollbar {
  width: 0.3rem;
}
/* track */
::-webkit-scrollbar-track {
  background-color: var(--white);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background:var(--blue);
  border-radius: 3rem;
}

a{
  text-decoration: none;
  color: var(--white);
}

img{
  -webkit-user-drag: none;
  -khtml-user-drag:none;
  -moz-user-drag:none;
  -o-user-drag:none;
}

.compare{
  display:flex;
  align-items: center;
  justify-content: flex-start;

}

.listLayout-compare{
  display:flex;
  flex-direction: column;
  gap:0.5rem;
  margin: 0.5rem auto;
}
.Toggle{
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;

}
.separate{
  margin-bottom: 10rem;
}
.errorPage{
  margin:0;
  width:100vw;
  height:83vh;

}
.errorPage img{
  width:100%;
  height:100%;
  object-fit:fill;
  mix-blend-mode:color-dodge;
  background-color: #171f29c2;
}