.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--darkBlue);
    margin-top: auto;
  }
  
  .footer span {
    cursor: pointer;
    color: var(--lightBlue);
  }
  
  .social-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
  }
  
  .social-link {
    color: var(--white);
    font-size: 2rem !important;
    transition: all 0.2s ease-in-out !important;
  }
  
  .social-link:hover {
    transform: scale(1.2);
  }